body {

    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(72, 55, 167);
}

button {

    background-color: rgb(161, 74, 27);
    margin-left: 45px;
    margin-right: -20px;
    width: 80;
}

h1 {
    font-size: 60px;

}

#gender {
    margin-left: 20px;
}

#food {
    margin-right: -30px;
    width: 170px;
}

#nightcaps {

    margin-right: 150;
}

.checkboxes {

    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;


    /* display: inline-block;
vertical-align: middle;
cursor: pointer */
}

#pass {
    margin-left: -10px;
    width: 170px;
}